body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  padding: 20px;
  max-width: 600px;
  margin: auto;
}

header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  margin: 0;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav li {
  display: inline;
  margin-right: 20px;
}

nav a {
  text-decoration: none;
  color: #fff;
}

h1 {
  text-align: center;
}
.recipe-img {
  text-align: center;
}
.recipe-img img {
  width: 100%;
  max-width: 400px;
  height: auto;
  border-radius: 5px;
}
